<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<clear />
		<add key="globalPackagesFolder" value="./packages" />
	</config>
	<packageSources>
		<add key="local" value="./packages" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="local">
			<package pattern="MyPackage" />
		</packageSource>
	</packageSourceMapping>
</configuration>